# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Eduardo\Documents\Eduardo\Uni\4\1_cuatri\Sistemas_Legados\Practicas\Practica2_IBM ESA-390\untitled\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
